<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
</head>
<body>

<script>
    this.pay = function () {
    var widget = new cp.CloudPayments();

    var data = {
        bot_id = 1
    };
    data.cloudPayments = {recurrent: { interval: 'Month', period: 1}}; //создание ежемесячной подписки

    widget.charge({ // options
        publicId: 'pk_7c46c71397f4579d81b068cd208bb', //id из личного кабинета
        description: 'Подписка на ежемесячный доступ к боту id=114 (Название бота) inbot24.ru', //назначение
        amount: 2, //сумма
        currency: 'RUB', //валюта
        invoiceId: '1563797293', //номер заказа  (необязательно)
        accountId: 'user@example.com', //идентификатор плательщика (обязательно для создания подписки)
        data: data
    },
    function (options) { // success
        //действие при успешной оплате
    },
    function (reason, options) { // fail
        //действие при неуспешной оплате
    });
};


$(function ()
{
    $('#checkout').click(pay);

});


</script>


<button id="checkout">оплатить</button>

</body>
</html>
