<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
</head>
<body>

<script>

    this.pay = function () {
    var widget = new cp.CloudPayments();

    var data = {
        bot_id: 112
    };

    data.cloudPayments = {recurrent: { interval: 'Month', period: 1}}; //создание ежемесячной подписки

    widget.charge({ // options
        publicId: 'pk_4723424c8d96eeae24c35a2616045', //id из личного кабинета
        description: 'sdfsdf', //назначение
        amount: 100, //сумма
        currency: 'RUB', //валюта
        invoiceId: '123123123', //номер заказа  (необязательно)
        accountId: '23454354', //идентификатор плательщика (обязательно для создания подписки)
        data: data
    },
    function (options) { // success
        //действие при успешной оплате
    },
    function (reason, options) { // fail
        //действие при неуспешной оплате
    });
};


$(function () {
    $('#checkout').click(pay);
});

</script>

<button id="checkout">оплатить</button>

</body>
</html>
